<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Volumes/PRINTIFY24/Democracy Clock Automation/Step 3/Chapters/Scrivener Compile Export</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>BB360289-7F77-4AF1-A155-43057C51131A</key>
		<dict>
			<key>BinderUUID</key>
			<string>BB360289-7F77-4AF1-A155-43057C51131A</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>584</real>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>722 473 584 541 0 0 1920 1178 </string>
		</dict>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {450, 994}}</string>
		<string>{{451, 0}, {1431, 994}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0269ADA2-E2BB-4269-A2D4-A57E23AA40DC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>029AFA6D-124D-4E7B-9DF4-94F17CEE4EE5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>02F1A63E-E8D5-474D-B472-FC8CC08E7833</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>05377753-F017-464A-A47B-28194421E71F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0543CE43-6C72-4376-BF86-5DC0714E2FB7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>06D1A36C-B812-40E4-8F9D-D03B52A69B3D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0928022F-E3DE-4B71-AC36-D13D09A69BFD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0A1362DD-7A43-48E8-B7E0-BD88346652D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0EB16FF9-6C9D-4FA9-B47D-F8902B6AD165</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>10B1C3DD-08F9-4BF3-9623-9A2A22EA384F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>10C115A3-1CB8-4952-B44D-249FE379E077</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>10E57B88-8AAC-4CC9-A6D0-99B74C2B2612</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>118938E5-3420-4A50-8189-D0BA6F03D5BD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>133EDB0E-938B-4AF0-BD42-CD2A362DF41F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1402DFCA-54A6-4B3D-934A-E656E49A5267</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1429A49E-9A0A-47E9-8495-CEF182841E0F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1852CBFA-A1AF-42AF-8FB7-FA701EB67D9E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>19741217-C753-45AA-846B-9E84417A9C0F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1B2A5A6B-4231-4C55-A849-2B6EAC5F9209</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1E80C47F-AF06-4506-84C6-7786CB22E758</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>204BBF93-82E9-450F-AA60-A2397EA1242D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>20576774-CF31-43D9-A5DD-052BBC7A6EE7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>212AFF0D-2335-465A-8C04-3C9B2FD5A445</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>250C8299-87A1-449B-BFB2-769E21115B46</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>28B1B98D-ACF4-48C7-96E3-1A144E07E6C5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>29F04438-ECB2-4DD8-B783-69884DD1BAB1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B308089-513E-4112-9E7A-4A668C431566</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B4AF31B-FD9E-47F4-B4F0-43ACFE0D6B88</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2F7C3860-700A-4BBA-BDDD-4D77840BEC89</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2FA92DEB-678E-4421-A0CA-BD17AD53D69F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>32339280-5AE8-4C1E-ACAB-9DBD8D4D3821</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3535A153-A085-43EA-B707-A0A1318A1C1B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>36B04DC3-FC51-4E2C-A5D6-96D16D0A5B64</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>391B1638-330F-4071-B381-BB889C9706C5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3DA78D81-33DF-4838-979F-E4A7F8D4641B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4155B524-C989-4BE0-8F63-4444E38680A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>42FC1058-795C-407C-A73E-3CA76A3B149B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>433EA6E4-9A96-479C-8D8C-CA7AC5CA528F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>44B41E4E-9D52-4875-944D-1DE38B1AC33A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>45DB783A-8C70-4821-B69B-F6CF6299A91B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>47E69506-911F-4275-8CA7-A634A3B59623</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>49300712-A7B1-4D99-BAEA-999B077A516A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4959D585-A083-4096-8B3D-2EF66B7E74ED</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4A8C28E6-4B63-48AA-8001-6EAD0F468C8A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4C777374-5303-4C77-AF73-AB79089287A6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D301DA8-3BFD-4AAE-867A-6EF0C1E57B80</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D50F3F9-3BEA-4E5E-B3AC-72BE7EF86C61</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4DE2AE31-D8C7-402C-BE59-F8E6335EDA7A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4E6EB988-EBEA-41A5-BD5A-37C43BAB56D0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>53D7050A-2B2D-4C26-B17D-956040641DA8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>540482CD-A6B4-44BF-953F-2D0920D6F568</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>541DCCFA-9C8E-439C-B1D6-097E0C017E9F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>56D330DD-3D2B-4C4C-AA81-A2E5B7E37E74</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5A186A23-8A38-41F6-855D-A5037066A0BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5DD4FBA9-CFE0-4257-82D4-286D7C794F22</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5FABA234-80AC-4BA8-AB58-B975987FEB71</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>604B1756-885E-4474-A296-CEA9A0000C4C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>60DD7EAF-227F-46E5-A082-9714BC9E7E43</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6180681F-06A2-411E-B617-CAFC16E547DD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>62F377D5-2520-4504-8F6F-979AAC24B030</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>64106969-71D0-413A-BB06-6DFF900631F5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>646095A4-3BE6-42EA-8CE3-7B12C2A28BCC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>65C248FD-819F-4213-ABDD-2B06EEB7594F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A11BC10-0671-46ED-B2FC-7ED03E25566A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6ACD565A-AEFA-4FB6-BC13-2D3150ABB3E5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6DBA2346-1E48-4F9C-BC13-D25D6CBBA22F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6EF4F5D7-A9F4-434B-A93C-2825AFDAD151</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F1A2D66-41E8-4727-87EC-82D6E49D180A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7600C4E7-65CB-4649-8FE5-F4D85ABA2D3C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7820B687-92DA-4A8F-8F96-E312EAB9452A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>78479DE1-D408-4E3E-8FD7-488D61FB4DC8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7C5D613C-3742-4F15-8C54-FD596C361072</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7E1952B6-C31C-4DED-AF69-56F401CA9EA3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F07B591-E888-4105-BACD-D47C4AA2B0B7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F4125E0-468D-4B51-A01D-F8D362E5EC15</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F421C9F-ABF4-4139-8259-9C75A3BACBB0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>82C33A7E-ACF2-4D3A-AB9B-A311D3D7A97B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>85AE49CB-F64B-47EC-AE19-10E5B8071380</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>884D8B4E-226A-43DB-AD42-C5FCB597D85F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>89F7E4DC-2895-423C-95B4-B4B0325EF5FE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8A1C12D1-BC60-4C23-8D06-07A82420B1DA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8DA54B4A-DBB2-4824-918C-BAEF76EC66A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>94F66A2F-FBAF-44DB-A162-9A3D8AD7CEB5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96776348-B035-46DA-A5A5-210E99B93774</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>98B3D894-0919-460F-AE87-9FCFFE44A95D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9948A2D7-2E0D-457D-BABD-E1C9A7CE5878</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A675F2F-E6B3-458F-85EA-B7D9F594030B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9C45C7D6-7C26-4102-B7BE-CF8A3F702069</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9C7356BE-5616-4F50-A0C0-8AC65BFF11F4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9CB75060-C6F7-4846-9237-4A9E7045F099</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9D301728-29A7-40D4-B746-719941BB88EE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9E2A8796-5AC8-4BE0-A56D-68689C2461D0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9FFBA333-8432-41C1-91F5-1302DFE283CA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A097A466-32FF-491F-8E6B-6DCD12185DE1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A0BAA2A2-D4E8-4E49-9850-CCF606B6263D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A11CB66E-D9C7-499F-87CB-59461960C2ED</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A5A4613D-A4F0-4363-A288-6707129CDF38</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A7012B13-F77A-4096-80A0-0BBE88383934</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AEA0C865-760A-4DC5-9D34-440DF7C7AD98</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AF6C4C06-BE39-44B7-ABDB-85D11EC6EA0E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B0D92BD6-D6F4-4D43-967F-1BCA5B970BF0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B2B48ADF-C02E-4075-91D1-F4718031BDB4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B2E869AA-1027-4C4E-ACFB-A4962274383F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7D263B4-5D00-45A5-B179-892CA7CAF81E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B8AAC730-CB85-47BC-A00E-60994EFC25BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BAFF21B3-BCB2-4C4A-BC82-D11D2385AB5A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BB360289-7F77-4AF1-A155-43057C51131A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC7E7F46-A3F5-47EE-9096-41271E391257</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC9452E9-985E-42FF-8902-7F7C83143A34</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BCDEE38B-7D73-4998-AC3B-DFED4BF09C91</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BDF93C64-C4E1-437B-A6BA-302077EC9340</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE13DC58-7C6E-4816-B738-C1F7F44FCFD5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C1485C56-A609-48E2-8795-83ECD95EFBB0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C75276C4-74B6-42C8-B959-2FBC3A5EF274</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C90A0AC8-74B2-44D5-AE2F-0B6357E5DB5F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C9FBA5ED-8361-4D3C-BB3A-94F0E88E3B25</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBC4DC30-6CF6-4C62-BC48-CFF631C164DB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBD14D9C-E9B0-495C-90C8-59596A61A452</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBEEA32B-3DE1-4197-8895-1CE7F3A85D33</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD7797E9-A3D8-4B77-ACD0-D6E6D2ECC003</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD876533-F304-402E-A6B9-26265FD7D4F1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF331775-4C1B-41B0-BD7F-C49C05D78D86</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF755C4C-BD07-4453-999C-F86914A4B12D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CFF45F11-397C-4540-84C5-2A418A8EBB90</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D0D72FCA-7F99-429B-9230-3494766F8D53</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D1D38CEE-F3EE-4A11-8EDF-069028D3D599</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D324E087-60F7-49B2-9FC1-1BF2954A4014</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D50AA556-9655-4F1B-BA21-9040C4CA94F0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D68E22C4-16D5-401F-8414-76D2E6D9A123</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D68FD821-F247-44EA-A645-9E65E10772B1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D9A53ACF-B26C-4F97-9681-B5DC4FD8586F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DBAFE5E4-466B-4094-8495-E089A4BAF42E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC4A6123-ACA7-455A-B0D1-28A8129DFBFE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DCC9B857-5EBB-4764-9DCF-9A1D50774FB6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DD54A901-D20F-40FF-8EEF-77E5DDC0E7E4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DE6632CC-2A9D-44E2-AE9C-1AF878094270</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DEBA5B97-F8B0-40FD-87C0-0ABB2E4D08D8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF04D229-BD18-45DE-893D-EC83844963F5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF2715CA-C34E-4DBA-B327-D276F8D5AFB4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF4EFFC1-5628-479D-88E2-1AF57EF7F843</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E14E6D2A-5819-4D36-8645-87C99987568C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E16686A9-61E7-4F2C-843E-85A4A651961F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E363300F-0A98-4CC3-BC31-A2476F201EE4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E40BA4BC-5E0D-44C6-BFA0-ED977EFDCAC8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E4862B3B-F271-4503-B20A-05C024D9E23E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EB6088D3-056A-4888-9CA0-949183ABCF00</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EB821F00-7720-4A60-BDA9-566DC17286C8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EC085A65-88D5-4D9B-A40D-64AA67C14327</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F7E21CE5-8624-45E8-83C5-287A2350EA86</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FA92690E-9AF8-42EC-A2F3-891D412A9C6F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FAF032C9-DBFA-4073-8523-55F8B467E98E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FD8DCA6E-1202-4A88-89C4-59D37F07A909</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FE803921-D458-40F3-BD9C-32CA218100DB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {632, 301}}</string>
		<string>{{0, 311}, {632, 302}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1173, 964}}</string>
		<string>{{1174, 0}, {257, 964}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>258</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>9FFBA333-8432-41C1-91F5-1302DFE283CA</string>
	</array>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{-153.60000000000002, 0}, {926.40000000000009, 723.20000000000005}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>1470 33 1882 1022 1470 0 1920 1055 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>limitLinesPerPage</key>
		<true/>
		<key>lineCountingFont</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQB
		aRiEBVsyNGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgA
		mACG
		</data>
		<key>maxLinesPerPage</key>
		<integer>50</integer>
		<key>options</key>
		<integer>0</integer>
		<key>wordsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 290}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
