<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CollectionSelections</key>
	<dict>
		<key>8F8A18FD-0C00-4B68-B3F6-4F9DF2F6117E</key>
		<array>
			<string>01D1EC37-A4E6-4AE4-97F6-4AE59D9A6093</string>
			<string>C2CD00C5-B232-4ACE-B469-BC5A5580A5FD</string>
			<string>B2190504-F85A-4BFA-9358-966F55B5C851</string>
			<string>69FAE311-26CE-4B47-8123-CD2C0932A844</string>
			<string>6F9DCCBC-7D15-457B-BAE3-60F4EBB547ED</string>
			<string>61491278-E8EB-4CE6-BDE6-9CEFCBBADAF7</string>
			<string>396479AF-AD0F-42E9-AE81-D912BECBA19F</string>
			<string>CFA87E98-B0EF-45FB-8E60-8786E4171367</string>
			<string>D58B2E92-27C5-42A6-8B65-9E914A7FA238</string>
			<string>6974CE94-FAF0-425F-91AF-B321CBE827AC</string>
			<string>AD69371D-6315-446F-B5ED-C18D84001227</string>
			<string>3E6CF81E-011D-41E1-BB6B-40A8EA5263E7</string>
			<string>9F40370F-5928-4EFC-A90F-00F28071504A</string>
			<string>CE2F636F-CD9E-4241-9A46-3C3A70B67236</string>
			<string>C92C48E5-982D-49CD-9075-8693070307B5</string>
			<string>B35B3617-DF2B-400B-9329-5FD9DB20A514</string>
			<string>90C020A7-3188-4666-929F-39814F08BCB7</string>
			<string>28A95E54-6B17-4C1C-ACF2-443DE1445ED0</string>
			<string>5FC393D7-DB67-49A1-AD78-609011A8A3D9</string>
			<string>3AD8CAB6-3C9C-42FC-8E75-E0FBD15481CD</string>
			<string>BD068B8B-A4C1-4105-AE33-801FE3872413</string>
			<string>529CE265-70AC-4125-9938-E45CA2B41A4A</string>
			<string>854C41D8-42AD-4419-A509-264BF0CDC69C</string>
			<string>4B301CBA-47C8-4ED9-A356-89A70E296765</string>
			<string>1ADDA2E8-A35B-432D-8CA2-6FB2EC756038</string>
			<string>90398E9E-8270-45B2-9302-A38A17F82F35</string>
			<string>384932B6-0CEC-4635-9BB5-E9C58F2927EB</string>
			<string>E4186A38-FB2F-444E-80D0-80173FACAD6B</string>
			<string>50E15A70-BDF7-4CBE-837B-63E7753EC748</string>
			<string>CD13C594-BD0A-4C61-9E04-DE7A793BA224</string>
			<string>333DAC7D-CBB8-4DE4-AD1B-3B517AF0276C</string>
			<string>4BA54EED-BAA1-48B8-A2FF-66D51C31987F</string>
			<string>960E86AC-5FDD-4AC7-AA79-0F284C0970AF</string>
			<string>9FBB4895-A31F-43E7-B1D4-734C792AF0C5</string>
			<string>D864D634-6E64-4198-8589-36BDC5417FDF</string>
			<string>E380D078-B483-4840-9262-473593DEED7C</string>
			<string>B0F4DA88-EC2D-460D-9F0E-F900898E56A7</string>
			<string>403C4B20-64D9-4B48-BC46-81AD4F658D0E</string>
			<string>D5C0A0C9-648A-4BB1-8DA2-266BBF27C91E</string>
			<string>FE4D9C0E-02F3-413C-A1EF-4A837B8E43E4</string>
			<string>53B27154-262B-46B4-B954-A3D604B9A5B8</string>
			<string>9B3E97B9-3B06-433A-8C21-F2E3814B51EB</string>
			<string>6D695B00-62DB-4789-995B-0F2CEA6B36AF</string>
		</array>
	</dict>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Users/amberv/outbox</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>BB360289-7F77-4AF1-A155-43057C51131A</key>
		<dict>
			<key>BinderUUID</key>
			<string>BB360289-7F77-4AF1-A155-43057C51131A</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>584</real>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>722 473 584 541 0 0 1920 1178 </string>
		</dict>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {345, 994}}</string>
		<string>{{346, 0}, {1219, 994}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>96776348-B035-46DA-A5A5-210E99B93774</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9FFBA333-8432-41C1-91F5-1302DFE283CA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BB360289-7F77-4AF1-A155-43057C51131A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>43</integer>
		<integer>44</integer>
		<integer>45</integer>
		<integer>46</integer>
		<integer>47</integer>
		<integer>48</integer>
		<integer>49</integer>
		<integer>50</integer>
		<integer>51</integer>
		<integer>52</integer>
		<integer>53</integer>
		<integer>54</integer>
		<integer>55</integer>
		<integer>56</integer>
		<integer>57</integer>
		<integer>58</integer>
		<integer>59</integer>
		<integer>60</integer>
		<integer>61</integer>
		<integer>62</integer>
		<integer>63</integer>
		<integer>64</integer>
		<integer>65</integer>
		<integer>66</integer>
		<integer>67</integer>
		<integer>68</integer>
		<integer>69</integer>
		<integer>70</integer>
		<integer>71</integer>
		<integer>72</integer>
		<integer>73</integer>
		<integer>74</integer>
		<integer>75</integer>
		<integer>76</integer>
		<integer>77</integer>
		<integer>78</integer>
		<integer>79</integer>
		<integer>80</integer>
		<integer>81</integer>
		<integer>82</integer>
		<integer>83</integer>
		<integer>84</integer>
		<integer>85</integer>
	</array>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {632, 301}}</string>
		<string>{{0, 311}, {632, 302}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {960, 964}}</string>
		<string>{{961, 0}, {258, 964}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>258</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>9FFBA333-8432-41C1-91F5-1302DFE283CA</string>
	</array>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {617, 552}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>1470 33 1565 1022 1470 0 1920 1055 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>limitLinesPerPage</key>
		<true/>
		<key>lineCountingFont</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQB
		aRiEBVsyNGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgA
		mACG
		</data>
		<key>maxLinesPerPage</key>
		<integer>50</integer>
		<key>options</key>
		<integer>0</integer>
		<key>wordsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>228</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
