<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Users/amberv/outbox</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>BB360289-7F77-4AF1-A155-43057C51131A</key>
		<dict>
			<key>BinderUUID</key>
			<string>BB360289-7F77-4AF1-A155-43057C51131A</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>584</real>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>722 473 584 541 0 0 1920 1178 </string>
		</dict>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {479, 858}}</string>
		<string>{{480, 0}, {1113, 858}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>02593AB2-9003-460E-A4B0-3C50EF1FDF80</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>03659985-9551-4ABD-AEAB-A7EFF4DEEC94</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0778B444-3F1F-4924-83BA-B2AB7028AC3E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0B04649C-8818-4464-B776-87EF3B3815E3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0BD2DD65-BF74-4E48-B66D-BBB908E7F8CB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0F3E5BFB-C8B5-4F74-B65E-61A529DCA7F3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1532EA4B-8C67-4970-A0CF-9E95EAD0F1C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>16773057-0CC1-4648-BD35-8ECDE977EF92</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1E300CB1-AFAC-4F80-9DAB-EF4226B992C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>24365EB3-98E2-488F-836C-800E54B73910</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>315A908D-2854-41F2-A450-527EA542260E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>37DE70B2-28B8-4368-8B4C-F10137BC99F0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3ECF6511-EC5A-4B9A-B12F-039C0CDD2CB7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>421F206A-A31E-4EC8-84C2-9C561E534A2E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D6273C8-FFD0-4820-A66D-E5B456D44F4C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4F2A3DD9-2E11-4DC6-B2D6-5B5A3FA361EC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>50618495-4BE1-4386-8D83-A4DAADCC95FC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5267EA79-1A1B-4582-94D0-C44DC92937CC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>52E05BF3-C0D5-4E2A-9067-EF53D788ECAB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>52E469D1-1784-4D6E-BF0B-60AEAE2960F0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5375B078-941F-40C4-9859-A3B392A33802</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>574442F9-347A-4986-834B-0DC70B69E7BB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5826D776-4733-42EF-9D03-279A37B59456</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>60D37027-5A0F-4CA1-BA8F-0F527FC7BB6D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>642D1234-E08F-4DA3-8448-81CFA9392951</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>64A8CC10-8DA4-417C-9FF8-E0907EA5ECC7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66781577-97FF-4328-A087-EDC9A7633215</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>67FBC831-35C9-461F-8B22-9155D491E736</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A07E05A-6BB7-4CD9-AEF2-3A0F5E495255</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A3BD49B-2BE1-47CD-9103-D79F5C92B941</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>714609DB-C681-4FD9-98C5-DBB775095E08</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>76119EF2-379B-45CA-B9A8-83D10B963E2D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7ADBDFFF-80B8-4887-865C-E8E6E82D92EF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7B6479A3-4A37-44F7-A313-8A4E0F6CAAD7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7B654072-CDAA-45C2-A4C2-83477697A5C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7CCCF4D7-4348-45B0-995A-0E329CEE78A2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>837736B3-9EE0-4342-9908-5D06B62B2CA0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>84D2D566-62EA-4404-9E31-45DEF5BF7DD1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>87241EDE-7F93-4576-A353-4E49D1B7671A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8BDBC0C3-A355-4609-87E7-873B4588DD1C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8E4FCC78-B182-4179-BC49-15CCBDA12D3E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96776348-B035-46DA-A5A5-210E99B93774</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>97192806-4B18-463F-818C-243F2995FD56</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9C47FE92-A3E7-4D4A-A856-E4CA8C558327</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9FFBA333-8432-41C1-91F5-1302DFE283CA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A0944165-B369-4830-BACB-0B509128B1C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A097A466-32FF-491F-8E6B-6DCD12185DE1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A37C8752-ABB3-4A2E-B44E-4E936A1C6580</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A759AACE-9B2A-47C5-8411-6835369DAE41</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A8972891-AE55-462F-81DE-4220BE1F4067</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A914E78E-D236-4BEC-9EE4-C7A3D5F3AB6C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A9F5E913-C568-4821-80F7-0DC6EC8765DB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B0417A1B-D617-4CBD-900A-14A6AB12C289</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BB360289-7F77-4AF1-A155-43057C51131A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE3E76D4-C510-4395-AE8E-682AD6BF0D09</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C23F11AB-FF27-43F4-A10E-06C4793843AD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C83AA041-E1CD-4581-B661-96A60C3CF41B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CA27E4F8-58F2-48BF-919C-E29D81B8BD8F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBF0B3EA-065A-4866-90E1-CD38D3008175</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD8F7F2B-727B-4FF5-80EF-E62CD8614B59</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D0C48863-FAD6-4792-938F-D06F482D60FF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D8A1E48C-B056-4BB3-96A5-A1E1B964CF5A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DBCB16A2-ED61-4613-A48C-C377927EBCE3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DD0B89C3-D547-4C01-9643-63EBD3A45610</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E071F2DD-50AA-4100-95CC-662C8E24DA71</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E17E8BB7-8E12-4469-AFEE-ACD12A954D33</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E947AC38-B685-44EB-8C67-15D529F9FC5B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ED04171F-D92B-4485-B213-C057B8DCE9E0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F0297F4A-8A2D-46FF-9043-02B62E841D58</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F2751ECC-1EC0-445D-9C91-849050A816D2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F2BC6B63-832A-41BC-871E-BBA16D0D609C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F3CC2F96-8309-4628-88F8-8019E0940079</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F4F7A98C-377D-4717-95C6-5506CF6F493A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F6BEE35E-555C-4CCE-A2C0-A8D320C4FD7E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FF48A854-2FE2-4663-92E7-1D7482ACC386</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {632, 301}}</string>
		<string>{{0, 311}, {632, 302}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {855, 828}}</string>
		<string>{{856, 0}, {257, 828}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>258</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>9FFBA333-8432-41C1-91F5-1302DFE283CA</string>
	</array>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{-26.400000000000002, 909.60000000000002}, {672, 614.39999999999998}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>1797 101 1593 886 1470 0 1920 1055 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>limitLinesPerPage</key>
		<true/>
		<key>lineCountingFont</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQB
		aRiEBVsyNGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgA
		mACG
		</data>
		<key>maxLinesPerPage</key>
		<integer>50</integer>
		<key>options</key>
		<integer>0</integer>
		<key>wordsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 290}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
