<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.25</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 775}}</string>
		<string>{{266, 0}, {792, 775}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>2551118D-C9F3-4DDF-AE64-4DF560AA426A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>26073F76-137C-47C7-BBE0-92AB20845A0E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D3041A2-97FB-466E-B282-3BF237A576C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>39E67DD8-7DD8-41F0-93D3-5FD843BF6AA3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6482094D-EDF9-457C-A2F0-3331F3CCAA27</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66E48E98-8E57-42CC-AF95-1C5D67E91AAA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>690DF376-9D0C-4442-95EF-9EE472E2C97D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7513578D-D79A-4657-9AF4-A8D194B74611</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7E5B8CAC-D22F-4DDA-AD87-FEA51351E9CB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>87FCE52E-9425-422B-851E-2C150DE58B6A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>93F19024-45DE-4838-BA04-74EA7E931639</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9F272B1B-7EB2-4DFE-A532-E972F3E37000</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ACF5F19C-E6B3-4770-A61F-E7BEDAA94CE1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B5E14CC1-C2E9-458F-9DB6-716585C69B7F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C213F92F-5BC7-412E-9A17-E9C02A6AF522</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C91D6FA3-E905-457F-B98F-F620923D7E56</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D21021DD-1348-460D-8AEE-B712FAACFA19</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2AC62C4-B9DB-47F9-9D49-83228739F89D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D543CAFA-C635-4016-88B0-0011EDB30038</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D7A80A3B-00A5-4673-BD3B-6288FC745381</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA572B43-2954-4F62-8B36-9B506549658D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DDEB0B69-19B0-4669-94A5-A3FAF1754DA5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>850</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {384, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>248</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>103</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>253</real>
	</dict>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>2048 216 1058 803 1470 0 1920 1055 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
